# About
- **By**: Tsombou Christian
- **@** : tsombouchris@gmail.com
- **linkedIn**: https://www.linkedin.com/in/tsombouchris/

This Notebook performs an Scrapping of livechennei website in order to obtain data about load shedding schedule in chennai from 2012 to 2022

- **Data Source**: [livechennai website](https://www.livechennai.com/powercut_schedule.asp)
- **Reference**: We Used the [Selenium library](https://selenium-python.readthedocs.io/) and [Beautifull Soup library](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) for scraping the website


_Process:_

At the time of the scrapping, there were 140 pages of schedule with almost 10 schedule per page and for each there was one correspondin page indicating the various localities concerned by the load schedding.
the process is describe in the commented code cells below

 _Result:_
 - A 2463 entries and 11 Columns dataset store in a .csv file

 _Challenges:_

 We had include dirty data in the scrapping process in order to capture the locations wich where not clearly formatted and thus identifiable, this obliged us to proceed to a long data clening process after scrapping.


NB: This Notebook was produced within the context of The Omdena [Chennai Chapter project on Electricity Power Outage Analysis](https://github.com/OmdenaAI/chennai-india-power-outage)

# Web Scrapping Power outages in Chennai India

### Reading the web page into python

In [7]:
# ##   Installing useful Libraries

# ! pip install requests
# ! pip install -U selenium

Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.19.1)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.23)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2020.11.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.8,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.7)

In [1]:
import requests
r = requests.get('https://www.livechennai.com/powercut_schedule.asp')

c:\Users\user\Anaconda3\lib\site-packages\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)
c:\Users\user\Anaconda3\lib\site-packages\cryptography\hazmat\backends\openssl\x509.py:17: CryptographyDeprecationWarning: This version of cryptography contains a temporary pyOpenSSL fallback path. Upgrade pyOpenSSL now.
  utils.DeprecatedIn35,

In [2]:
# print the first 500 characters of the HTML
print(r.text[0:500])

	<html>
	<head>
	<meta name="ROBOTS" content="follow,index,all">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<META HTTP-EQUIV="Content-Language" CONTENT="en">
	<META NAME="Description" CONTENT="www.livechennai.com - Power Shut Down Details of Chennai, Tamilnadu, power shutdown in chennai, today power shutdown in chennai">
	<META NAME="Keywords" CONTENT="  Power Cut Schedules in Chennai, Chennai Power Cut Sche

## Parsing the HTML using Beautiful Soup and Selenium

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text, 'html.parser')
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time

In [4]:
url = 'https://www.livechennai.com/powercut_schedule.asp'

In [5]:
# setting the webdriver with Chrome
driver = webdriver.Chrome()

In [30]:
# Access the webpage
driver.get(url)

## Collecting all of the records

In [7]:
#   Avalaible page numbers on the current page
results_page = soup.find_all('a', attrs={'class':'classic_pageLink_deselect'})
# Catching the last page number
last_page_number = int(results_page[2].text)

In [31]:
pm_am =['pm', 'am', 'A.M', 'P.M','P.M.', 'A.M.', 'PM', 'AM', 'p.m.', 'a.m.', 'p.m,', 'a.m,', 'P.M,', 'A.M,']

In [9]:
# creating an empty dataframe to store results
df_ = pd.DataFrame(columns=['PO_day', 'PO_date', 'PO_start_time', 'PO_end_time', 'PO_posting_date', 'PO_posting_time', 'PO_locations_link'])
df_

Empty DataFrame
Columns: [PO_day, PO_date, PO_start_time, PO_end_time, PO_posting_date, PO_posting_time, PO_locations_link]
Index: []

In [32]:
i=0

while i <= last_page_number:
    print(i)

    content = driver.find_elements(By.CLASS_NAME, 'new_page')
    title_content = driver.find_elements(By.CLASS_NAME, 'w')
    

    for k in range(len(content)):
        
        # Power outage message title
        PO_message_title = title_content[k].find_element(By.TAG_NAME,'p').find_element(By.TAG_NAME,'a').text
        # Spliting the Power Outage message title to gather detailed information
        PO_message_title_list = PO_message_title.split()

        # Power Outage message
        PO_message = content[k].find_element(By.CLASS_NAME, 'cont').text
        # Spliting the Power Outage message to gather detailed information
        PO_message_list = PO_message.split()

        ### Power outage day of the week
        PO_day = PO_message_title_list[-2]

        ### Power outage date 
        PO_date = PO_message_title_list[-1].strip('()').replace('.','/').replace('-','/')

        ### Power outage starting time 
        try:
            index_pm_am = [PO_message_list[i].lower() in pm_am  for i in range(len(PO_message_list))].index(True)
        except ValueError:
            continue

        
        PO_start_time = PO_message_list[index_pm_am -1 ] + " " + PO_message_list[index_pm_am]
        
        ### Power outage ending time
        try:
            PO_end_time = PO_message_list[index_pm_am + 2] + " " + PO_message_list[index_pm_am + 3]
        except IndexError:
            PO_end_time = PO_message_list[index_pm_am + 2]

        ### Power outage reason
        #PO_reason = " ".join(PO_message_list[PO_message_list.index('for')+1 :])

        # Power Outage posting data and time message
        power_outage_message_posted_on = content[k].find_element(By.CLASS_NAME, 'read').text
        power_outage_message_posted_on_list = power_outage_message_posted_on.split()

        ### Power outage posting date and time
        posting_date = power_outage_message_posted_on_list[3]
        posting_time = " ".join(power_outage_message_posted_on_list[4:])

        ## locations page link
        ###### we first get the link of the location page with schedule title
        location_page_link = title_content[k].find_element(By.TAG_NAME,'p').find_element(By.TAG_NAME,'a').get_attribute('href')


        # A list will all information gathered and then a dictionnary column_name:value to append to the result dataframe
        row=[PO_day, PO_date, PO_start_time, PO_end_time, posting_date, posting_time, location_page_link]
        row_dict = {df_.columns[i]:row[i] for i in range(len(row))}
        df_ = df_.append(row_dict, ignore_index=True)
        print(row)
        
    
    if i == 140:
    #if i == last_page_number:
        break

    # Catching the next page reference
    next_page_button = driver.find_element(By.CLASS_NAME, 'classic_pageLink_last')
    #next page link
    next_page_link = next_page_button.get_attribute('href')
    driver.get(next_page_link)
    time.sleep(4)
    i +=1
    print(next_page_link,i)

130
['on', '10/05/2014', '9.00 AM', '2.00 PM', '09/May/2014', '4:13:21 PM', 'https://www.livechennai.com/detailnews.asp?newsid=11160&catid=10']
['on', '09/05/2014', '9.00 AM', '2.00 PM', '08/May/2014', '3:25:55 PM', 'https://www.livechennai.com/detailnews.asp?newsid=11125&catid=10']
['on', '08/05/2014', '9.00 AM', '2.00 PM', '07/May/2014', '12:09:01 PM', 'https://www.livechennai.com/detailnews.asp?newsid=11093&catid=10']
['on', '07/05/2014', '9.00 AM', '2.00 PM', '06/May/2014', '11:18:47 AM', 'https://www.livechennai.com/detailnews.asp?newsid=11066&catid=10']
['on', '03/05/2014', '9.00 A.M.', '2.00 P.M.', '02/May/2014', '3:51:23 PM', 'https://www.livechennai.com/detailnews.asp?newsid=11002&catid=10']
['Today', '30/4/2014', '9.00 A.M.', '2.00 P.M.', '30/Apr/2014', '11:17:24 AM', 'https://www.livechennai.com/detailnews.asp?newsid=10939&catid=10']
['Today', '29/04/2014', '9.00 A.M.', '2.00 P.M.', '29/Apr/2014', '12:08:51 PM', 'https://www.livechennai.com/detailnews.asp?newsid=10928&catid=10']
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=132 131
131
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=133 132
132
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=134 133
133
['on', '01/03/2014', '9.00 A.M.', '5.00 P.M.', '28/Feb/2014', '10:55:04 AM', 'https://www.livechennai.com/detailnews.asp?newsid=9570&catid=10']
['on', '28/02/2014', '9.00 A.M.', '5.00 P.M.', '26/Feb/2014', '4:11:57 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9548&catid=10']
['on', '27/02/2014', '9.00 A.M.', '5.00 P.M.', '25/Feb/2014', '4:27:01 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9517&catid=10']
['on', '26/02/2014', '9.00 A.M.', '5.00 P.M.', '24/Feb/2014', '4:38:11 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9495&catid=10']
['on', '25/02/2014', '9.00 A.M.', '5.00 P.M.', '22/Feb/2014', '9:21:03 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9472&catid=10']
['on', '24/02/2014', '9.00 A.M.', '5.00 P.M.', '22/Feb/2014', '9:19:16 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9471&catid=10']
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=135 134
134
['on', '22/02/2014', '9.00 A.M.', '5.00 P.M.', '20/Feb/2014', '5:25:11 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9414&catid=10']
['on', '21/02/2014', '9.00 A.M.', '5.00 P.M.', '19/Feb/2014', '5:03:12 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9374&catid=10']
['on', '20/02/2014', '9.00 A.M.', '5.00 P.M.', '18/Feb/2014', '5:05:56 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9348&catid=10']
['on', '19/02/2014', '9.00 A.M.', '5.00 P.M.', '17/Feb/2014', '4:55:59 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9320&catid=10']
['On', '18/02/2014', '9.00 A.M.', '5.00 P.M.', '15/Feb/2014', '4:27:44 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9288&catid=10']
['on', '17/02/2014', '9.00 A.M.', '5.00 P.M.', '15/Feb/2014', '3:52:55 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9284&catid=10']
['on', '14/02/2014', '9.00 A.M.', '5.00 P.M.', '12/Feb/2014', '3:16:55 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9200&catid=10']
['on', '13/02/2014', '9.00 A.M.', '5.00 P.M.', '11/Feb/2014', '4:04:05 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9170&catid=10']
['on', '12/02/2014', '9.00 A.M.', '5.00 P.M.', '10/Feb/2014', '4:23:55 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9148&catid=10']
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=136 135
135
['on', '11/02/2014', '9.00 A.M.', '5.00 P.M.', '08/Feb/2014', '2:59:57 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9125&catid=10']
['on', '10/02/2014', '9.00 A.M.', '5.00 P.M.', '08/Feb/2014', '2:32:03 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9121&catid=10']
['on', '08/02/2014', '9.00 A.M.', '5.00 P.M.', '06/Feb/2014', '4:03:53 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9071&catid=10']
['on', '07/02/2014', '9.00 A.M.', '5.00 P.M.', '05/Feb/2014', '3:58:49 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9049&catid=10']
['on', '06/02/2014', '9.00 A.M.', '5.00 P.M.', '04/Feb/2014', '4:54:02 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9036&catid=10']
['on', '05/02/2014', '9.00 A.M.', '5.00 P.M.', '03/Feb/2014', '4:42:09 PM', 'https://www.livechennai.com/detailnews.asp?newsid=9018&catid=10']
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=137 136
136
['on', '01/02/2014', '9.00 A.M.', '5.00 P.M.', '30/Jan/2014', '4:50:53 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8969&catid=10']
['on', '31/01/2014', '9.00 A.M.', '5.00 P.M.', '29/Jan/2014', '4:33:50 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8951&catid=10']
['on', '30/01/2014', '9.00 A.M.', '5.00 P.M.', '28/Jan/2014', '4:58:25 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8937&catid=10']
['on', '29/01/2014', '9.00 A.M.', '5.00 P.M.', '27/Jan/2014', '3:49:51 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8919&catid=10']
['on', '28/01/2014', '9.00 A.M.', '5.00 P.M.', '25/Jan/2014', '4:23:54 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8901&catid=10']
['on', '27/01/2014', '9.00 A.M.', '5.00 P.M.', '25/Jan/2014', '4:18:46 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8900&catid=10']
['on', '25/01/2014', '9.00 A.M.', '5.00 P.M.', '23/Jan/2014', '4:01:16 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8866&catid=10']
['on', '24/01/2014', '9.00 A.M.', '5.00 P.M.', '22/Jan/2014', '5:35:31 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8849&catid=10']
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=138 137
137
['on', '23/01/2014', '9.00 A.M.', '5.00 P.M.', '21/Jan/2014', '3:45:21 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8827&catid=10']
['on', '22/01/2014', '9.00 A.M.', '5.00 P.M.', '20/Jan/2014', '4:51:07 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8811&catid=10']
['on', '21/01/2014', '9.00 A.M.', '5.00 P.M.', '20/Jan/2014', '12:15:53 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8807&catid=10']
['on', '18/01/2014', '9.00 A.M.', '5.00 P.M.', '16/Jan/2014', '10:56:52 AM', 'https://www.livechennai.com/detailnews.asp?newsid=8775&catid=10']
['on', '17/01/2014', '9.00 A.M.', '5.00 P.M.', '16/Jan/2014', '10:48:22 AM', 'https://www.livechennai.com/detailnews.asp?newsid=8774&catid=10']
['on', '13/01/2014', '9.00 A.M.', '5.00 P.M.', '10/Jan/2014', '4:47:45 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8731&catid=10']
['on', '11/01/2014', '9.00 A.M.', '5.00 P.M.', '09/Jan/2014', '5:46:00 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8705&catid=10']
['on', '10/01/2014', '9.00 A.M.', '5.00 P.M.', '08/Jan/2014', '5:12:50 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8687&catid=10']
['on', '09/01/2014', '9.00 A.M.', '5.00 P.M.', '07/Jan/2014', '4:04:37 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8659&catid=10']
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=139 138
138
['on', '08/01/2014', '9.00 A.M.', '5.00 P.M.', '06/Jan/2014', '5:23:09 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8640&catid=10']
['on', '07/01/2014', '9.00 A.M.', '5.00 P.M.', '04/Jan/2014', '5:54:09 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8620&catid=10']
['on', '06/01/2014', '9.00 A.M.', '5.00 P.M.', '04/Jan/2014', '5:49:13 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8619&catid=10']
['on', '04/01/2014', '9.00 A.M.', '5.00 P.M.', '02/Jan/2014', '6:00:37 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8576&catid=10']
['on', '03/01/14', '9.00 A.M.', '5.00 P.M.', '02/Jan/2014', '9:57:45 AM', 'https://www.livechennai.com/detailnews.asp?newsid=8558&catid=10']
['on', '02/01/14', '9.00 A.M.', '5.00 P.M.', '02/Jan/2014', '9:52:10 AM', 'https://www.livechennai.com/detailnews.asp?newsid=8557&catid=10']
['on', '31/12/2013', '9.00 A.M.', '5.00 P.M.', '30/Dec/2013', '9:44:17 AM', 'https://www.livechennai.com/detailnews.asp?newsid=8499&catid=10']
https://www.livechennai.com/powercut_schedule.asp?KW=&catid=16&orderby=&PN=140 139
139
['on', '30/12/2013', '9.00 A.M.', '5.00 P.M.', '30/Dec/2013', '9:38:42 AM', 'https://www.livechennai.com/detailnews.asp?newsid=8498&catid=10']
['On', '28/12/2013', '9.00 A.M.', '5.00 P.M.', '26/Dec/2013', '5:28:58 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8448&catid=10']
['On', '27/12/2013', '9.00 A.M.', '5.00 P.M.', '24/Dec/2013', '4:05:35 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8407&catid=10']
['On', '26/12/2013', '9.00 A.M.', '5.00 P.M.', '24/Dec/2013', '3:59:33 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8406&catid=10']
['On', '24/12/2013', '9.00 A.M.', '5.00 P.M.', '23/Dec/2013', '2:21:47 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8373&catid=10']
['On', '21/12/2013', '9.00 A.M.', '5.00 P.M.', '19/Dec/2013', '4:01:20 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8328&catid=10']
['On', '20/12/2013', '9.00 A.M.', '5.00 P.M.', '18/Dec/2013', '6:24:20 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8315&catid=10']
['On', '19/12/2013', '9.00 A.M.', '5.00 P.M.', '17/Dec/2013', '3:41:11 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8291&catid=10']
['on', '18/12/2013', '9.00 A.M.', '5.00 P.M.', '16/Dec/2013', '4:07:22 PM', 'https://www.livechennai.com/detailnews.asp?newsid=8270&catid=10']

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".classic_pageLink_last"}
  (Session info: chrome=103.0.5060.114)
Stacktrace:
Backtrace:
	Ordinal0 [0x00E56463+2188387]
	Ordinal0 [0x00DEE461+1762401]
	Ordinal0 [0x00D03D78+802168]
	Ordinal0 [0x00D31880+989312]
	Ordinal0 [0x00D31B1B+989979]
	Ordinal0 [0x00D5E912+1173778]
	Ordinal0 [0x00D4C824+1099812]
	Ordinal0 [0x00D5CC22+1166370]
	Ordinal0 [0x00D4C5F6+1099254]
	Ordinal0 [0x00D26BE0+945120]
	Ordinal0 [0x00D27AD6+948950]
	GetHandleVerifier [0x010F71F2+2712546]
	GetHandleVerifier [0x010E886D+2652765]
	GetHandleVerifier [0x00EE002A+520730]
	GetHandleVerifier [0x00EDEE06+516086]
	Ordinal0 [0x00DF468B+1787531]
	Ordinal0 [0x00DF8E88+1805960]
	Ordinal0 [0x00DF8F75+1806197]
	Ordinal0 [0x00E01DF1+1842673]
	BaseThreadInitThunk [0x7608FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77A37A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77A37A6E+238]

In [33]:
df_

,PO_day,PO_date,PO_start_time,PO_end_time,PO_posting_date,PO_posting_time,PO_locations_link
0,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...
1,Saturday,16/07/2022,9 am,"2 pm,",16/Jul/2022,8:47:41 AM,https://www.livechennai.com/detailnews.asp?new...
2,Friday,15/07/2022,09.00 am,02.00 pm,14/Jul/2022,6:30:48 PM,https://www.livechennai.com/detailnews.asp?new...
3,Thursday,14/07/2022,09.00 am,02.00 pm,14/Jul/2022,9:46:46 AM,https://www.livechennai.com/detailnews.asp?new...
4,Wednesday,13/07/2022,09.00 am,02.00 pm,12/Jul/2022,5:06:56 PM,https://www.livechennai.com/detailnews.asp?new...
...,...,...,...,...,...,...,...
550,On,24/12/2013,9.00 A.M.,5.00 P.M.,23/Dec/2013,2:21:47 PM,https://www.livechennai.com/detailnews.asp?new...
551,On,21/12/2013,9.00 A.M.,5.00 P.M.,19/Dec/2013,4:01:20 PM,https://www.livechennai.com/detailnews.asp?new...
552,On,20/12/2013,9.00 A.M.,5.00 P.M.,18/Dec/2013,6:24:20 PM,https://www.livechennai.com/detailnews.asp?new...
553,On,19/12/2013,9.00 A.M.,5.00 P.M.,17/Dec/2013,3:41:11 PM,https://www.livechennai.com/detailnews.asp?new...
554,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...

In [52]:
# remove duplicates
df_[df_.duplicated()]

,PO_day,PO_date,PO_start_time,PO_end_time,PO_posting_date,PO_posting_time,PO_locations_link
490,on,10/05/2014,9.00 AM,2.00 PM,09/May/2014,4:13:21 PM,https://www.livechennai.com/detailnews.asp?new...
491,on,09/05/2014,9.00 AM,2.00 PM,08/May/2014,3:25:55 PM,https://www.livechennai.com/detailnews.asp?new...
492,on,08/05/2014,9.00 AM,2.00 PM,07/May/2014,12:09:01 PM,https://www.livechennai.com/detailnews.asp?new...
493,on,07/05/2014,9.00 AM,2.00 PM,06/May/2014,11:18:47 AM,https://www.livechennai.com/detailnews.asp?new...
494,on,10/05/2014,9.00 AM,2.00 PM,09/May/2014,4:13:21 PM,https://www.livechennai.com/detailnews.asp?new...
495,on,09/05/2014,9.00 AM,2.00 PM,08/May/2014,3:25:55 PM,https://www.livechennai.com/detailnews.asp?new...
496,on,08/05/2014,9.00 AM,2.00 PM,07/May/2014,12:09:01 PM,https://www.livechennai.com/detailnews.asp?new...
497,on,07/05/2014,9.00 AM,2.00 PM,06/May/2014,11:18:47 AM,https://www.livechennai.com/detailnews.asp?new...

In [56]:
df_.drop_duplicates(inplace=True)
df_.shape

(547, 7)

### Exporting the dataset to a CSV file

In [57]:
df_.to_csv('v3_outages_in_chennai.csv', index=False, encoding='utf-8')

In [42]:
df1_ = pd.DataFrame(columns=['PO_locations_link1', 'location'])
df1_

Empty DataFrame
Columns: [PO_locations_link1, location]
Index: []

In [43]:
#Extracting the locations
for link in df_['PO_locations_link']:
    driver.get(link)
    time.sleep(6)
    ###### we extract all content in bold among which the locations (the cleaning will be done after)
    locations = driver.find_element(By.CLASS_NAME,'dark').find_elements(By.TAG_NAME, 'b')
    locations_text = [locations[i].text for i in range(len(locations))]

    # A list will all information gathered and then a dictionnary column_name:value
        #  to append to the result dataframe for each location in location_text
    for location_text in locations_text:
        row=[link, location_text]
        row_dict = {df1_.columns[i]:row[i] for i in range(len(row))}
        df1_ = df1_.append(row_dict, ignore_index=True)

    print(df1_.shape)

(4, 2)
(12, 2)
(27, 2)
(41, 2)
(54, 2)
(67, 2)
(82, 2)
(94, 2)
(107, 2)
(117, 2)
(127, 2)
(135, 2)
(153, 2)
(167, 2)
(181, 2)
(192, 2)
(207, 2)
(223, 2)
(230, 2)
(240, 2)
(251, 2)
(265, 2)
(271, 2)
(281, 2)
(288, 2)
(294, 2)
(303, 2)
(311, 2)
(321, 2)
(329, 2)
(333, 2)
(342, 2)
(351, 2)
(355, 2)
(364, 2)
(366, 2)
(369, 2)
(375, 2)
(380, 2)
(386, 2)
(388, 2)
(395, 2)
(401, 2)
(409, 2)
(413, 2)
(420, 2)
(423, 2)
(428, 2)
(433, 2)
(440, 2)
(448, 2)
(457, 2)
(468, 2)
(470, 2)
(482, 2)
(494, 2)
(506, 2)
(513, 2)
(519, 2)
(524, 2)
(532, 2)
(535, 2)
(538, 2)
(544, 2)
(548, 2)
(558, 2)
(566, 2)
(574, 2)
(579, 2)
(584, 2)
(587, 2)
(590, 2)
(592, 2)
(603, 2)
(606, 2)
(610, 2)
(616, 2)
(619, 2)
(623, 2)
(627, 2)
(631, 2)
(638, 2)
(639, 2)
(641, 2)
(650, 2)
(656, 2)
(659, 2)
(663, 2)
(669, 2)
(672, 2)
(677, 2)
(681, 2)
(687, 2)
(692, 2)
(695, 2)
(698, 2)
(702, 2)
(705, 2)
(713, 2)
(719, 2)
(720, 2)
(722, 2)
(724, 2)
(726, 2)
(728, 2)
(731, 2)
(733, 2)
(735, 2)
(739, 2)
(741, 2)
(743, 2)
(745, 2)
(749, 2)
(751, 2)
(755, 2)
(762, 2)
(769, 2)
(774, 2)
(781, 2)
(786, 2)
(791, 2)
(797, 2)
(800, 2)
(806, 2)
(810, 2)
(820, 2)
(828, 2)
(831, 2)
(836, 2)
(843, 2)
(852, 2)
(863, 2)
(873, 2)
(878, 2)
(885, 2)
(899, 2)
(909, 2)
(914, 2)
(928, 2)
(936, 2)
(942, 2)
(944, 2)
(946, 2)
(950, 2)
(954, 2)
(959, 2)
(961, 2)
(964, 2)
(977, 2)
(979, 2)
(984, 2)
(1001, 2)
(1005, 2)
(1013, 2)
(1022, 2)
(1024, 2)
(1030, 2)
(1039, 2)
(1042, 2)
(1044, 2)
(1046, 2)
(1056, 2)
(1063, 2)
(1070, 2)
(1077, 2)
(1082, 2)
(1085, 2)
(1087, 2)
(1094, 2)
(1099, 2)
(1103, 2)
(1110, 2)
(1112, 2)
(1113, 2)
(1115, 2)
(1124, 2)
(1133, 2)
(1146, 2)
(1159, 2)
(1171, 2)
(1191, 2)
(1211, 2)
(1224, 2)
(1242, 2)
(1255, 2)
(1259, 2)
(1270, 2)
(1276, 2)
(1283, 2)
(1291, 2)
(1295, 2)
(1301, 2)
(1307, 2)
(1316, 2)
(1322, 2)
(1326, 2)
(1330, 2)
(1337, 2)
(1340, 2)
(1343, 2)
(1345, 2)
(1347, 2)
(1349, 2)
(1351, 2)
(1353, 2)
(1355, 2)
(1357, 2)
(1359, 2)
(1362, 2)
(1364, 2)
(1365, 2)
(1367, 2)
(1368, 2)
(1370, 2)
(1372, 2)
(1373, 2)
(1374, 2)
(1376, 2)
(1377, 2)
(1381, 2)
(1385, 2)
(1388, 2)
(1391, 2)
(1393, 2)
(1395, 2)
(1396, 2)
(1399, 2)
(1400, 2)
(1401, 2)
(1402, 2)
(1405, 2)
(1406, 2)
(1410, 2)
(1411, 2)
(1414, 2)
(1421, 2)
(1423, 2)
(1424, 2)
(1425, 2)
(1431, 2)
(1433, 2)
(1434, 2)
(1437, 2)
(1439, 2)
(1440, 2)
(1442, 2)
(1443, 2)
(1444, 2)
(1446, 2)
(1447, 2)
(1448, 2)
(1450, 2)
(1452, 2)
(1453, 2)
(1457, 2)
(1458, 2)
(1459, 2)
(1462, 2)
(1465, 2)
(1468, 2)
(1470, 2)
(1472, 2)
(1475, 2)
(1476, 2)
(1477, 2)
(1481, 2)
(1483, 2)
(1484, 2)
(1492, 2)
(1493, 2)
(1497, 2)
(1504, 2)
(1508, 2)
(1518, 2)
(1522, 2)
(1534, 2)
(1541, 2)
(1547, 2)
(1549, 2)
(1554, 2)
(1561, 2)
(1563, 2)
(1572, 2)
(1583, 2)
(1587, 2)
(1592, 2)
(1595, 2)
(1597, 2)
(1599, 2)
(1600, 2)
(1606, 2)
(1616, 2)
(1626, 2)
(1633, 2)
(1640, 2)
(1648, 2)
(1657, 2)
(1663, 2)
(1671, 2)
(1683, 2)
(1691, 2)
(1703, 2)
(1710, 2)
(1724, 2)
(1733, 2)
(1748, 2)
(1754, 2)
(1761, 2)
(1771, 2)
(1778, 2)
(1786, 2)
(1791, 2)
(1800, 2)
(1808, 2)
(1817, 2)
(1825, 2)
(1829, 2)
(1835, 2)
(1841, 2)
(1847, 2)
(1851, 2)
(1852, 2)
(1853, 2)
(1856, 2)
(1860, 2)
(1865, 2)
(1869, 2)
(1870, 2)
(1872, 2)
(1875, 2)
(1876, 2)
(1877, 2)
(1879, 2)
(1881, 2)
(1885, 2)
(1886, 2)
(1887, 2)
(1890, 2)
(1891, 2)
(1894, 2)
(1896, 2)
(1899, 2)
(1900, 2)
(1901, 2)
(1902, 2)
(1903, 2)
(1904, 2)
(1906, 2)
(1908, 2)
(1910, 2)
(1914, 2)
(1916, 2)
(1918, 2)
(1920, 2)
(1921, 2)
(1923, 2)
(1924, 2)
(1925, 2)
(1927, 2)
(1930, 2)
(1932, 2)
(1936, 2)
(1948, 2)
(1958, 2)
(1972, 2)
(1978, 2)
(1987, 2)
(1988, 2)
(1997, 2)
(1998, 2)
(2000, 2)
(2003, 2)
(2006, 2)
(2007, 2)
(2017, 2)
(2017, 2)
(2018, 2)
(2021, 2)
(2024, 2)
(2031, 2)
(2033, 2)
(2037, 2)
(2041, 2)
(2042, 2)
(2044, 2)
(2044, 2)
(2048, 2)
(2049, 2)
(2050, 2)
(2051, 2)
(2056, 2)
(2058, 2)
(2059, 2)
(2066, 2)
(2071, 2)
(2077, 2)
(2080, 2)
(2080, 2)
(2080, 2)
(2080, 2)
(2083, 2)
(2087, 2)
(2089, 2)
(2095, 2)
(2095, 2)
(2105, 2)
(2110, 2)
(2111, 2)
(2117, 2)
(2133, 2)
(2137, 2)
(2142, 2)
(2147, 2)
(2154, 2)
(2159, 2)
(2163, 2)
(2166, 2)
(2168, 2)
(2176, 2)
(2185, 2)
(2187, 2)
(2190, 2)
(2191, 2)
(2192, 2)
(2196, 2)
(2198, 2)
(2206, 2)
(2211, 2)
(2212, 2)
(2218, 2)
(2221, 2)
(2225, 2)
(2227, 2)
(2231, 2)
(2232, 2)
(2241, 2)
(2247, 2)
(2253, 2)
(2255, 2)
(2256, 2)
(2260, 2)
(2262, 2)
(2265, 2)
(2266, 2)
(2270, 2)
(2272, 2)
(2275, 2)
(2277, 2)
(2281, 2)
(2283, 2)
(2289, 2)
(2291, 2)
(2293, 2)
(2297, 2)
(2301, 2)
(2304, 2)
(2306, 2)
(2308, 2)
(2309, 2)
(2311, 2)
(2314, 2)
(2317, 2)
(2320, 2)
(2323, 2)
(2325, 2)
(2332, 2)
(2335, 2)
(2338, 2)
(2339, 2)
(2340, 2)
(2342, 2)
(2345, 2)
(2347, 2)
(2350, 2)
(2352, 2)
(2353, 2)
(2354, 2)
(2358, 2)
(2361, 2)
(2363, 2)
(2364, 2)
(2366, 2)
(2368, 2)
(2371, 2)
(2372, 2)
(2374, 2)
(2375, 2)
(2375, 2)
(2376, 2)
(2377, 2)
(2378, 2)
(2378, 2)
(2379, 2)
(2380, 2)
(2381, 2)
(2381, 2)
(2382, 2)
(2383, 2)
(2385, 2)
(2385, 2)
(2385, 2)
(2386, 2)
(2390, 2)
(2394, 2)
(2399, 2)
(2408, 2)
(2413, 2)
(2420, 2)
(2428, 2)
(2434, 2)
(2443, 2)
(2465, 2)
(2471, 2)
(2477, 2)
(2484, 2)
(2490, 2)
(2497, 2)
(2504, 2)
(2505, 2)
(2511, 2)
(2518, 2)
(2525, 2)
(2527, 2)
(2534, 2)
(2537, 2)
(2546, 2)
(2550, 2)
(2554, 2)
(2574, 2)
(2578, 2)
(2581, 2)
(2588, 2)
(2595, 2)
(2605, 2)
(2609, 2)
(2612, 2)
(2614, 2)
(2618, 2)
(2625, 2)
(2629, 2)
(2634, 2)
(2643, 2)
(2657, 2)
(2665, 2)
(2669, 2)
(2673, 2)
(2681, 2)
(2689, 2)
(2692, 2)
(2695, 2)
(2698, 2)
(2705, 2)
(2710, 2)
(2716, 2)
(2721, 2)

In [49]:
df1_

,PO_locations_link1,location
0,https://www.livechennai.com/detailnews.asp?new...,Tuesday (19.07.2022)
1,https://www.livechennai.com/detailnews.asp?new...,TAMBARAM AREA:
2,https://www.livechennai.com/detailnews.asp?new...,T. NAGAR AREA:
3,https://www.livechennai.com/detailnews.asp?new...,ADYAR AREA:
4,https://www.livechennai.com/detailnews.asp?new...,"Egmore, Tambaram, Porur, Adyar, Ponneri , Avad..."
...,...,...
2716,https://www.livechennai.com/detailnews.asp?new...,NANGANALLUR AREA
2717,https://www.livechennai.com/detailnews.asp?new...,NANDANAM AREA
2718,https://www.livechennai.com/detailnews.asp?new...,ROYAPURAM AREA
2719,https://www.livechennai.com/detailnews.asp?new...,K.K. NAGAR AREA
2720,https://www.livechennai.com/detailnews.asp?new...,PUDHUTHANGAL AREA

In [60]:
# drop duplicates
df1_.duplicated().sum()
df1_.drop_duplicates(inplace=True)
df1_.shape

(2674, 2)

In [61]:
# Export to csv
df1_.to_csv('v3_locations_outages_in_chennai.csv', index=False, encoding='utf-8')

In [62]:
# merge the two dataframe on location link
df_merged = pd.merge(left=df_, right=df1_, left_on='PO_locations_link', right_on='PO_locations_link1')

In [63]:
df_merged.shape

(2674, 9)

In [68]:
df_merged.head()

,PO_day,PO_date,PO_start_time,PO_end_time,PO_posting_date,PO_posting_time,PO_locations_link,PO_locations_link1,location,location_split
0,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,Tuesday (19.07.2022),"[Tuesday, (19.07.2022)]"
1,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,TAMBARAM AREA:,"[TAMBARAM, AREA:]"
2,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,T. NAGAR AREA:,"[T., NAGAR, AREA:]"
3,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,ADYAR AREA:,"[ADYAR, AREA:]"
4,Saturday,16/07/2022,9 am,"2 pm,",16/Jul/2022,8:47:41 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,"Egmore, Tambaram, Porur, Adyar, Ponneri , Avad...","[Egmore,, Tambaram,, Porur,, Adyar,, Ponneri, ..."

In [263]:
df_merged = df_merged.drop(columns=['PO_locations_link1'])

In [157]:
# split the location text in a new column
df_merged['location_split'] = df_merged.location.apply(lambda x: x.strip().split())

,PO_day,PO_date,PO_start_time,PO_end_time,PO_posting_date,PO_posting_time,PO_locations_link,PO_locations_link1,location,location_split
292,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,Power supply will be suspended in the followin...,"[Power, supply, will, be, suspended, in, the, ..."
293,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,AMBATTUR AREA:,"[AMBATTUR, AREA:]"
294,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,PORUR AREA:,"[PORUR, AREA:]"
295,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,KILPAUK AREA:,"[KILPAUK, AREA:]"
296,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,SEMBIUM AREA :,"[SEMBIUM, AREA, :]"
297,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,TAMBARAM AREA :,"[TAMBARAM, AREA, :]"
298,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,GUINDY:,[GUINDY:]
299,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,KK NAGAR:,"[KK, NAGAR:]"
300,Thursday,16/06/2022,09.00 am,02.00 pm,15/Jun/2022,9:51:09 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,ANNA NAGAR/MADURAIVOYAL AREA:,"[ANNA, NAGAR/MADURAIVOYAL, AREA:]"

In [ ]:
# check for empty locations
is_empty_loc = df_merged.location == ''
is_empty_loc.sum()

In [ ]:
# delete empty locations row
df_merged = df_merged[~is_empty_loc]
df_merged.info()

In [137]:
bad_locations_set = {'friday', 'monday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday', 'Friday', 'Monday',
 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday','Power', 'supply', 'Supply'}

In [199]:
# identify some dirty data for location with bad_locations_set
dirty_loc_Ps = df_merged.location_split.apply(lambda x: True if bad_locations_set.intersection(set(x)) else False)
dirty_loc_Ps.sum()

292    MYLAPORE
Name: location, dtype: object
582    KK Nagar / Ramasamy Road
Name: location, dtype: object

In [ ]:
# treat two particular cases
for loca in df_merged.location_split[dirty_loc_Ps]:
    if 'MYLAPORE' in loca:
       index1 = df_merged[df_merged.location_split.apply(lambda x: x == loca)].index
       df_merged.loc[index1,'location'] = 'MYLAPORE'
       print(df_merged.loc[index1,'location'])

    if 'Ramasamy' in loca:
        index2 = df_merged[df_merged.location_split.apply(lambda x: x == loca)].index
        df_merged.loc[index2,'location'] = 'KK Nagar / Ramasamy Road'
        print(df_merged.loc[index2,'location'])

In [202]:
# update the location_split column
df_merged['location_split'] = df_merged.location.apply(lambda x: x.strip().split())

In [203]:
# reidentify some dirty data for location with bad_locations_set after treating the two particular cases
dirty_loc_Ps = df_merged.location_split.apply(lambda x: True if bad_locations_set.intersection(set(x)) else False)
dirty_loc_Ps.sum()

120

In [204]:
#drop all rows with the condition :'dirty_loc_Ps'
df_merged = df_merged[~dirty_loc_Ps]
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2471 entries, 1 to 2673
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PO_day              2471 non-null   object
 1   PO_date             2471 non-null   object
 2   PO_start_time       2471 non-null   object
 3   PO_end_time         2471 non-null   object
 4   PO_posting_date     2471 non-null   object
 5   PO_posting_time     2471 non-null   object
 6   PO_locations_link   2471 non-null   object
 7   PO_locations_link1  2471 non-null   object
 8   location            2471 non-null   object
 9   location_split      2471 non-null   object
dtypes: object(10)
memory usage: 212.4+ KB

In [236]:
# dirty locations with len of list after splitting GT 7
dirty_loc_len7 = df_merged.location_split.apply(lambda x: len(x)>7)

# treat three particular cases
for loca in df_merged.location_split[dirty_loc_len7]:
    if 'hills/Attanthangal,' in loca:
       index1 = df_merged[df_merged.location_split.apply(lambda x: x == loca)].index
       df_merged.loc[index1,'location'] = 'Mylapore'
       print(df_merged.loc[index1,'location'])
       

    if 'Mathur:' in loca:
        index2 = df_merged[df_merged.location_split.apply(lambda x: x == loca)].index
        df_merged.loc[index2,'location'] = 'Mathur'
        print(df_merged.loc[index2,'location'])
        print(loca)

    if 'Adyar' in loca:
        index3 = df_merged[df_merged.location_split.apply(lambda x: x == loca)].index
        df_merged.loc[index3,'location'] = 'Adyar'
        print(df_merged.loc[index3,'location'])
        
       
# update the location_split column
df_merged['location_split'] = df_merged.location.apply(lambda x: x.strip().split())

166    Mylapore
Name: location, dtype: object
1918    Mathur
Name: location, dtype: object
['Mathur:', '1,', '2,', '3rd', 'main', 'road', 'MMDA,', 'MMDA', 'Mathur.']
1919    Adyar
Name: location, dtype: object

In [237]:
# reidentify some dirty locations with len of list after splitting GT 7
dirty_loc_len7 = df_merged.location_split.apply(lambda x: len(x)>7)
dirty_loc_len7.sum()

8

In [238]:
#drop all rows with the condition :'dirty_loc_len7'
df_merged = df_merged[~dirty_loc_len7]
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2463 entries, 1 to 2673
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PO_day              2463 non-null   object
 1   PO_date             2463 non-null   object
 2   PO_start_time       2463 non-null   object
 3   PO_end_time         2463 non-null   object
 4   PO_posting_date     2463 non-null   object
 5   PO_posting_time     2463 non-null   object
 6   PO_locations_link   2463 non-null   object
 7   PO_locations_link1  2463 non-null   object
 8   location            2463 non-null   object
 9   location_split      2463 non-null   object
dtypes: object(10)
memory usage: 211.7+ KB

In [239]:
for l in df_merged[df_merged.location_split.apply(lambda x: len(x)>6)].location_split:
    print(len(l),':', l)
    time.sleep(2)

7 : ['SEMBIUM', '/', 'RETTERI', '/', 'PERAMBUR', '/', 'CMBT:']
7 : ['Avadi/Pattabiram,', 'Sothuperumbedu,', 'Ambattur,', 'Sembium,', 'Villivakkam,', 'Vyasarpadi,', 'Guindy/Nanganallur']
7 : ['TIDAL', 'PARK', '/SRP', 'TOOLS', 'OMR', 'AREA', ':']

In [254]:
# strip the location text 
df_merged['location'] = df_merged.location.apply(lambda x: x.strip(' ,:.'))
df_merged

c:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,PO_day,PO_date,PO_start_time,PO_end_time,PO_posting_date,PO_posting_time,PO_locations_link,PO_locations_link1,location,location_split,location_split_coma
1,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,TAMBARAM AREA,"[TAMBARAM, AREA:]",[TAMBARAM AREA]
2,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,T. NAGAR AREA,"[T., NAGAR, AREA:]",[T. NAGAR AREA]
3,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,ADYAR AREA,"[ADYAR, AREA:]",[ADYAR AREA]
5,Saturday,16/07/2022,9 am,"2 pm,",16/Jul/2022,8:47:41 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,Egmore,[Egmore],[Egmore]
6,Saturday,16/07/2022,9 am,"2 pm,",16/Jul/2022,8:47:41 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,Tambaram,[Tambaram],[Tambaram]
...,...,...,...,...,...,...,...,...,...,...,...
2669,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,NANGANALLUR AREA,"[NANGANALLUR, AREA]",[NANGANALLUR AREA]
2670,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,NANDANAM AREA,"[NANDANAM, AREA]",[NANDANAM AREA]
2671,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,ROYAPURAM AREA,"[ROYAPURAM, AREA]",[ROYAPURAM AREA]
2672,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,K.K. NAGAR AREA,"[K.K., NAGAR, AREA]",[K.K. NAGAR AREA]
2673,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,PUDHUTHANGAL AREA,"[PUDHUTHANGAL, AREA]",[PUDHUTHANGAL AREA]

In [258]:
# split the location text in a new column
df_merged['location_split_coma'] = df_merged.location.apply(lambda x: x.replace(' and ',',').split(','))
df_merged

c:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,PO_day,PO_date,PO_start_time,PO_end_time,PO_posting_date,PO_posting_time,PO_locations_link,PO_locations_link1,location,location_split,location_split_coma
1,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,TAMBARAM AREA,"[TAMBARAM, AREA:]",[TAMBARAM AREA]
2,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,T. NAGAR AREA,"[T., NAGAR, AREA:]",[T. NAGAR AREA]
3,Tuesday,19/07/2022,09.00 am,02.00 pm,18/Jul/2022,9:26:34 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,ADYAR AREA,"[ADYAR, AREA:]",[ADYAR AREA]
5,Saturday,16/07/2022,9 am,"2 pm,",16/Jul/2022,8:47:41 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,Egmore,[Egmore],[Egmore]
6,Saturday,16/07/2022,9 am,"2 pm,",16/Jul/2022,8:47:41 AM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,Tambaram,[Tambaram],[Tambaram]
...,...,...,...,...,...,...,...,...,...,...,...
2669,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,NANGANALLUR AREA,"[NANGANALLUR, AREA]",[NANGANALLUR AREA]
2670,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,NANDANAM AREA,"[NANDANAM, AREA]",[NANDANAM AREA]
2671,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,ROYAPURAM AREA,"[ROYAPURAM, AREA]",[ROYAPURAM AREA]
2672,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,K.K. NAGAR AREA,"[K.K., NAGAR, AREA]",[K.K. NAGAR AREA]
2673,on,18/12/2013,9.00 A.M.,5.00 P.M.,16/Dec/2013,4:07:22 PM,https://www.livechennai.com/detailnews.asp?new...,https://www.livechennai.com/detailnews.asp?new...,PUDHUTHANGAL AREA,"[PUDHUTHANGAL, AREA]",[PUDHUTHANGAL AREA]

In [277]:
# create an empty dataframe to take in consideration locations that are multiple
df2_ = pd.DataFrame(columns=['PO_day', 'PO_date', 'PO_start_time', 'PO_end_time', 'PO_posting_date', 'PO_posting_time',
 'PO_locations_link', 'location'])

In [282]:
cols = ['PO_day', 'PO_date', 'PO_start_time', 'PO_end_time', 'PO_posting_date', 'PO_posting_time',
 'PO_locations_link']
location_split_comaGT1 = df_merged.location_split_coma.apply(lambda x: len(x)>1)
df_merged[location_split_comaGT1]

for locations in df_merged.location_split_coma[location_split_comaGT1]:
       index_ = df_merged[df_merged.location_split_coma.apply(lambda x: x == locations)].index
       for location in locations:
              row = df_merged.loc[index_,cols]
              row['location'] = location
              #row.append(location)
              #row_dict = {df2_.columns[i]:row[i] for i in range(len(row))}
              #df2_ = df2_.append(row_dict, ignore_index=True)
              df2_ = pd.concat([df2_,row],ignore_index=True)

(1, 8)
(2, 8)
(3, 8)
(4, 8)
(5, 8)
(6, 8)
(7, 8)
(8, 8)
(9, 8)
(10, 8)
(11, 8)
(12, 8)
(13, 8)
(14, 8)
(15, 8)
(16, 8)
(17, 8)
(18, 8)
(19, 8)
(20, 8)
(21, 8)
(22, 8)
(23, 8)
(24, 8)
(25, 8)
(26, 8)
(27, 8)
(28, 8)
(29, 8)
(30, 8)
(31, 8)
(32, 8)
(33, 8)
(34, 8)
(35, 8)
(36, 8)
(37, 8)
(38, 8)
(39, 8)
(40, 8)
(41, 8)
(42, 8)
(43, 8)
(44, 8)
(45, 8)
(46, 8)
(47, 8)
(48, 8)
(49, 8)
(50, 8)
(51, 8)
(52, 8)
(53, 8)
(54, 8)
(55, 8)
(56, 8)
(57, 8)
(58, 8)
(59, 8)
(60, 8)
(61, 8)

In [297]:
# drop unecessary columns location_split and location_split_coma
df_merged = df_merged.drop(columns=['location_split', 'location_split_coma'])

In [305]:
# concatenate df2_ and df_merged

df_merged2 = pd.concat([df_merged, df2_], ignore_index=True)

In [309]:
# replace area wording by ''
to_replace_list = {'AREA', 'AREAS', 'Area', 'Areas', 'area', 'areas', 'AREA:', 'AREAS:', 'Area:', 'Areas:', 'area:', 'areas:'}
for rep in to_replace_list:
    df_merged2['location'] = df_merged2['location'].apply(lambda x: x.replace(rep,''))

In [311]:
 df_merged2.to_csv('17.07.22_power_outages_chennai_located.csv', index=False, encoding='utf-8')